* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #444;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img/wanted.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*--------HEADER----------*/
header {
  display: flex;
  max-width: 1280px;
}

.header_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-bottom: 0;
}
.header_title {
  margin-right: 5vw;
  color: white;
}
h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header_title:nth-child(2) h2 {
  font-size: 40px;
  color: #bbb;
}
.header_title:nth-child(3) h2 {
  font-size: 30px;
}
.header_title:nth-child(4) h1 {
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 1vh;
  padding-bottom: 3vh;
  color: #bbb;
}

/*---------NAV-----------*/
nav {
  height: 140px;
  width: 100vw;
  background-color: rgb(220, 223, 207);
}
h3 {
  text-align: center;
  font-size: 36px;
  line-height: 140px;
  color: #444;
}

/*---------MAIN-----------*/
main {
  width: 100vw;
  background-color: rgb(220, 223, 207);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  border: 1px solid rgb(107, 102, 102, 0.1);
  max-width: 600px;
  background-color: rgb(220, 223, 207);
}
.section_img {
  background-color: rgb(220, 223, 207);
}
.section_description {
  display: flex;
  flex-direction: column;
  padding: 2vh 1vw 5px 1vw;
  background-color: rgb(220, 223, 207);
}
.flex-end {
  align-self: flex-end;
}
a {
  color: #444;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: rgb(107, 102, 102);
  text-decoration: underline;
}
.italic {
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
}
.bold {
  font-weight: 700;
  font-style: italic;
  border-bottom: 2px solid #888;
  padding-bottom: 5px;
}
.paddtop {
  margin-top: 20px;
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
}
.colorY {
  background-color: #fca311;
}
.colorD {
  background-color: #14213d;
}
.colorG {
  background-color: rgb(220, 223, 207);
}
/*---------FOOTER-----------*/
footer {
  width: 100vw;
  display: flex;
  text-align: center;
  line-height: 100px;
  height: 180px;
  justify-content: center;
  padding-top: 5vh;
  background-color: black;
}
.footerP {
  width: 30%;
}
.footerL {
  width: 30%;
}
.footerC {
  width: 30%;
}
.white {
  color: #fff;
}
.big {
  font-size: 30px;
}
video {
  max-width: 600px;
  height: auto;
}
hr {
  height: 2px;
  border-width: 0;
  color: #999;
  background-color: #aaa;
  width: 90vw;
  margin-bottom: 50px;
}
.hr_up {
  width: 40vw;
  height: 3px;
  margin-bottom: 0;
}
.red {
  color: red;
}

@media only screen and (max-width: 600px) {
  video {
    max-width: 300px;
    height: auto;
  }
  section {
    margin-bottom: 2vh;
    max-width: 300px;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #444;
  }
  footer {
    flex-direction: column;
    padding-top: 2vh;
    font-size: 18px;
    line-height: 10px;
    height: 180px;
  }
  .footerP {
    width: 100vw;
    height: 30px;
  }
  .footerL {
    width: 100vw;
    height: 30px;
  }
  .footerC {
    width: 100vw;
    height: 30px;
  }

  header {
    max-width: 300px;
  }

  .header_title {
    margin-right: 10px;
  }
  h2 {
    font-size: 26px;
  }
  .header_title:nth-child(2) h2 {
    font-size: 24px;
  }
  .header_title:nth-child(3) h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 22px;
    line-height: 80px;
  }
  body {
    /* background-repeat: no-repeat;*/
    background-position: top;
    background-size: cover;
    /* background-attachment: fixed; */
  }
  .header_title {
    margin-right: 1vw;
  }
}
header {
  max-width: 600px;
}
.header_logo {
  padding-bottom: 10vh;
}
nav {
  height: 80px;
}
.paddtop {
  margin-top: 10px;
  font-size: 18px;
}
footer {
  padding-top: 1vh;
  font-size: 16px;
  height: 140px;
}
